<footer class="footer">
    <div class="footer__container">
        <div class="footer__copy">© Deep Dash 2021</div>
        <div style="color:#000;font-family:sans-serif;">Front End <a href="https://nikkeyl.vercel.app" style="color:#ff003c;text-decoration:underline">nikkeyl</a></div>
        <a href="#" aria-label="link go to top" data-goto=".home" class="footer__button button button--up">
            <svg>
                <use href="@content/icons/sprite.svg#svg-arrow"></use>
            </svg>
        </a>
    </div>
</footer>
