<footer class="footer">
    <div class="footer__container">
        <div class="footer__copy">© Deep Dash 2021</div>
        <div style="color:#fff;font-family:sans-serif;">Вёрстка <a href="https://nikkeyl.github.io/nikkeyl" style="color:#80f;text-decoration:underline">Никита Алманов</a></div>
        <a href="#" aria-label="link go to top" data-goto=".home" class="footer__button button button--up">
            <svg>
                <use href="@content/icons/sprite.svg#svg-arrow"></use>
            </svg>
        </a>
    </div>
</footer>