<header class="header">
    <div class="header__container">
        <a href="index.html" class="logo header__logo">
            <img src="@content/svg/logo.svg" alt="logo">
        </a>
        <div class="menu header__menu">
            <button aria-label="menu icon" type="button" class="menu__icon icon-menu">
                <span></span>
            </button>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" aria-label="site navigation link" data-goto="." class="menu__link"></a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="site navigation link" data-goto="." class="menu__link"></a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="site navigation link" data-goto="." class="menu__link"></a>
                    </li>
                    <li class="menu__item">
                        <a href="#" aria-label="site navigation link" data-goto="." class="menu__link"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>